<div class="terms-container top-marg-100">
    <div class="terms-header">
        <h2><span>Terms & Conditions</span></h2>
    </div>
    <div class="terms-top">
        <div class="row terms-content">
            <p><strong>Definitions</strong></p>
<p><span style="font-weight: 400;">&nbsp;While reading further, you may find several words which convey specific meaning:</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">"Buyer" means the person who buys goods from the Seller</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">"Seller" means Plant4u Botanicals Pvt. Ltd who sell gardening products</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">&ldquo;Goods" means the products offered by the seller for sale on the web site</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">"List Price" means the prices listed on the website for goods by the Seller for sale or as revised from time to time</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">"Terms and Conditions" means the terms and conditions of sale set out in this document and as amended from time to time</span></li>
</ul>
<p><span style="font-weight: 400;">The use of this website, its services and tools are all governed by the below mentioned terms and conditions. If you make any transaction through this website, you shall undergo policies that are applicable to the website. If you transact with this website means you are contracting with Plant4u.in and you shall follow the duties with this company.</span></p>
<p><span style="font-weight: 400;">Please note that wherever is mentioned as &ldquo;you&rdquo; or &ldquo;user&rdquo; shall be considered as the member of the website who registers with Plant4u.in and provides his/her data using the computation systems. Plant4u allows its users to surf or make purchases from this website without a registration process.&nbsp;</span></p>
<p><span style="font-weight: 400;">When you use this website including customer reviews, you are subject to guidelines, rules, policies, terms and conditions applicable to this website and its services. We reserve the sole right to modify, add, change or remove the portion or content of these Terms and Conditions without any notification. Hence, we request you to please keep visiting this page to understand the Terms &amp; Conditions and also our Privacy Policy which is subject to change without notice. Please be certain that with the use of Terms &amp; Conditions, we offer you limited privilege to enter this website and enjoy a non-exclusive, non-transferable, personal account.</span></p>
<p><strong>Limitations</strong></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">The seller (Plant4u.in) will not be responsible for any damage, direct loss suffered by the buyer due to any negligence, breach of contract or excessive pricing of the goods.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">The seller is not responsible for any economic loss, loss of profit or any indirect third party loss suffered by the buyer caused due to any reason such as negligence, failure to meet any estimated delivery date, misrepresentation or breach of contract.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">All offers for goods purchased by buyers shall be treated as offers listed under the clauses given in Terms &amp; Conditions (T&amp;C). The seller may choose not to accept or cancel a particular order without giving any particular reason.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Placing an order on Plant4u.in will be treated as an evidence for acceptance of T&amp;C on Plant4u.in</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Any changes mentioned in T&amp;C will be considered inapplicable unless the seller agrees the same in writing</span></li>
</ul>
<p><strong>Severance</strong></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Plant4u.in does not regularly monitor your posting to the website, but reserves the sole right to do so and if found inappropriate will be responding immediately with the right to report to the law enforcement authorities or legal bodies to action the same. Plant4u.in will completely cooperate for investigation of illegal activities on the internet</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">If any provision of these T&amp;C is held invalid or illegal by the court of jurisdiction for any reason, such provision shall be severed and the remaining provisions will be continued in full effect until invalid and illegal contents are eliminated.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Submission of invalid or unauthorized contents / materials violates the copyright laws, laws of privacy and publicity, trademark laws and other regulations. In this case, the user who posts such illegal contents shall be held responsible for such action or the person using the account by submitting username and password.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">You shall indemnify Plant4u.in and hold its officers, employees, directors, affiliates, business partners, agents and licensors innocent against any loss, damages, expenses, cost and liabilities incurred due to the negligence for the claim or demand from a third party for your use of the website or any person using your account on this website.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Plant4u.in&nbsp; Reserves the right to stop your access to this website at any time without giving any prior notice. This license can terminate automatically if you breach any of these terms. If you are terminated then you must first destroy any downloaded and printed materials.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">By browsing and transacting this website, you accept the current terms and conditions which may change from time to time</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Plant4u.in may suspend the operation of this website for some time being for maintenance work in order to update content or for any other reason.</span></li>
</ul>
<p><strong>Warranty</strong></p>
<p><span style="font-weight: 400;">As per the license, the goods that are to be delivered should resemble to the description mentioned by the seller on the website or the buyer has to give approval for any change</span></p>
<p>&nbsp;</p>
<p><strong>Price, Payment and Delivery</strong></p>
<p>&nbsp;</p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Pricing of the goods shall be specified similar as given in the seller's current list price on the website inclusive of all application taxes and will be delivered to the address registered by the user on the website within 24 hours from the time of the orders that are successfully placed (subject to availability).</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Full payment of cash on delivery option shall be applicable for home delivery orders only</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">The seller may decline sending any orders if the customer is found suspended for any reason</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">The seller reserves the right to change and make correct pricing of goods if any error persists in the description of goods or pricing in the website catalogue</span></li>
</ul>
<p><strong>Force Majeure</strong></p>
<p>&nbsp;</p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">If the products are delayed or failed for any reason from the events or circumstances which are outside its reasonable control, neither of the parties will be held responsible for it (controls shall also include strikes, act of god, lock outs, accidents, breakdown of plant/machinery/shortage/unavailability of raw materials from a natural source of supply, and war). In such a case, the party is entitled for the extension on delivery.</span></li>
</ul>
<p><strong>Governing Law and Jurisdiction</strong></p>
<p><span style="font-weight: 400;">These terms and conditions shall only be governed by the law of India and any legal disputes/discrepancies will be heard or preceded in the jurisdiction of the Indian courts at Pune/Mumbai only</span></p>
<p>&nbsp;</p>
<p><strong>Membership Eligibility</strong></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Plant4u.in website is available only to those users who can form legally binding contracts under the Indian Contract Act, 1872. Those who cannot follow the norms or are incompetent to the contract (including minors, undischarged bankrupts, etc.) are not eligible to use this website</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">If you are a minor or under the age of 18 years, you shall not be a member of Plant4u.in and shall not transact on this website</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Plant4u.in reserves the right to terminate your membership and refuse your access if it is brought to Plant4u.in&rsquo;s notice or if discovered that you are underage to proceed</span></li>
</ul>
<p><strong>Your Account and Registration Obligations</strong></p>
<p>&nbsp;</p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">If you are using this website, you are responsible for the maintenance of confidentiality of your User ID and Password and only you shall be responsible for all the activities on the website.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">With the use of this website, you agree to this providing any information that is inaccurate, untrue, incomplete, not as per the terms of use then in that case we reserve the right to suspend or terminate or block access of your membership on the website.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Personal details provided by you to Plant4u.in through this website (registration) will only be used in accordance with our privacy policy and we shall not be used for any purpose other than sending you emails, offers of your interest or as directed by law. By providing your personal details, you are agreeing to our privacy policy</span></li>
</ul>
<p><strong>Communications</strong></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">If you use Plant4u.in or send emails to other data, communication or information to use, you are agreeing that you are communicating with us via electronic records and you agree to receive communications likewise. We may communicate with you via electronic records or any other mode of communication (electronic or otherwise).</span></li>
</ul>
<p><strong>Charges</strong></p>
<p>&nbsp;</p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">There are no charges applicable for the registration on Plant4u.in. You can become a member free of cost and enjoy the offers. However, we reserve the right to charge you a nominal fee and change its policies over the time. We reserve the right to introduce new services and modify few or all existing services offered on the website without any notice</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Once changes related to fees and policies are uploaded on the website, it shall immediately become effective. All fees to be quoted in Indian Rupees unless otherwise stated. With the use of this website, you agree to this that you are responsible for all applicable laws including those in India for making payments</span></li>
</ul>
<p><strong>Use of the Website</strong></p>
<p><span style="font-weight: 400;">Your access to this website does not allow you to host, modify, display, Upload, transmit, publish, share, update any information which:</span></p>
<ol>
<li><span style="font-weight: 400;">a)&nbsp; </span> <span style="font-weight: 400;">Belongs to other person and you don&rsquo;t hold any right to</span></li>
<li><span style="font-weight: 400;">b)&nbsp; </span> <span style="font-weight: 400;">Is harassing, defamatory, encouraging gambling or money laundering, hateful, racially, invasive of other&rsquo;s privacy, obscene, pornographic, ethnically objectionable, unlawful, threatening, indecent representation of women under the Indecent Representation of Women (Prohibition) Act, 1986 (misleading, patiently offensive to community including sexually explicit content, promotes racism, hatred, physical harm and otherwise)</span></li>
<li><span style="font-weight: 400;">c)&nbsp; </span> <span style="font-weight: 400;">Involves transmission of chain letters and junk mail, mass mailing or spam</span></li>
<li><span style="font-weight: 400;">d) </span> <span style="font-weight: 400;">Harassment of another person</span></li>
<li><span style="font-weight: 400;">e)&nbsp; </span> <span style="font-weight: 400;">Promotes illegal activities such as obscene, abusive, threatening, libelous and whatsoever</span></li>
<li><span style="font-weight: 400;">f) &nbsp; </span> <span style="font-weight: 400;">Violates third party rights (intellectual property right, privacy, email address, physical address, phone no., person&rsquo;s name)</span></li>
<li><span style="font-weight: 400;">g)&nbsp; </span> <span style="font-weight: 400;">Promotes unauthorized copy of other person&rsquo;s copyrighted work such as offering pirated computer programs or links, providing information for copy of manufacture-installed devices, pirated music or links or files</span></li>
<li><span style="font-weight: 400;">h)&nbsp; </span> <span style="font-weight: 400;">Hidden pages or images linked from another accessible page</span></li>
<li><span style="font-weight: 400;">i)&nbsp; &nbsp; </span> <span style="font-weight: 400;">Adding materials that exploit other user&rsquo;s violent, sexual or other inappropriate manner</span></li>
<li><span style="font-weight: 400;">j)&nbsp; &nbsp; </span> <span style="font-weight: 400;">Provides information related to buying of illegal weapons, creating computer viruses or violating someone&rsquo;s privacy</span></li>
<li><span style="font-weight: 400;">k)&nbsp; </span> <span style="font-weight: 400;">Includes any person&rsquo;s images or photographs (minor or adult)</span></li>
<li><span style="font-weight: 400;">l)&nbsp; &nbsp; </span> <span style="font-weight: 400;">Unauthorized access to website, profiles, communities, blogs, friend request or other areas for unlawful purpose</span></li>
<li><span style="font-weight: 400;">m)</span> <span style="font-weight: 400;">Indulging in commercial activities or sales without our written consent such as keeping contests, buying or selling virtual items related to our website which promotes gambling and is illegal</span></li>
<li><span style="font-weight: 400;">n)&nbsp; </span> <span style="font-weight: 400;">Trespass any patent, copyright, trademark or other proprietary rights</span></li>
</ol>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">o)&nbsp; </span><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp; </span><span style="font-weight: 400;">Refers to any website that contains content which violates or prohibits the terms of use</span></li>
</ul>
<ol>
<li><span style="font-weight: 400;">p)&nbsp; </span> <span style="font-weight: 400;">Unauthorized attempt of adding deep-link, robot, algorithm, or any other attempt</span></li>
<li><span style="font-weight: 400;">q)&nbsp; </span> <span style="font-weight: 400;">Direct or indirect offer, attempt to offer, trade or attempt for the same in any item, dealing for the same is prohibited or restricted</span></li>
<li><span style="font-weight: 400;">r) &nbsp; </span> <span style="font-weight: 400;">Unauthorized access or attempt to gain so to any portion/feature of the website or networks that connects the website or server, computer or any other hacking, password or illegitimate use</span></li>
<li><span style="font-weight: 400;">s) &nbsp; </span> <span style="font-weight: 400;">You shall not be making any defamatory, negative comment(s) or statement(s) against Plant4u.in</span></li>
<li><span style="font-weight: 400;">t) &nbsp; </span> <span style="font-weight: 400;">You shall not be a part of any advertising or create on your own for buying and selling of products and services on this website and transmit any chain letters, junk email, or related to other users through this website</span></li>
</ol>
<p>&nbsp;</p>
<p><strong>Contents Posted on Site</strong></p>
<ol>
<li><span style="font-weight: 400;">a)&nbsp; </span> <span style="font-weight: 400;">All graphics, designs, interfaces, photographs, logos, trademarks, sounds, computer code, music, artwork, visual interfaces, contents are all owned and controlled by us; licensed, copyright, trademark laws, and various other property and competition laws included. In this context, no content must be uploaded, copied, reproduced, posted, displayed, encoded, transmitted or distributed in any way</span></li>
</ol>
<p>&nbsp;</p>
<p><strong>Other Businesses</strong></p>
<p><span style="font-weight: 400;">Plant4u.in is not responsible for the products, actions, content and services on the Website that are connected to Affiliates and / or third party websites using Website&rsquo;s APIs or otherwise. Plant4u.in may provide links to the third party websites of our affiliated companies and few other businesses for which we are not responsible for evaluating or examining the products and services offered by them. We don&rsquo;t endorse any third party website(s) or content.</span></p>
<p>&nbsp;</p>
<p><strong>Links</strong></p>
<p><span style="font-weight: 400;">We appreciate links to the Website. Users may create hypertext to link to this Website, but the link should not state or suggest any sponsorship or endorsement of your site by us. You are not eligible to use our trademarks, service marks, logos or any other marks or materials by the owner.</span></p>
<p>&nbsp;</p>
<p><strong>Privacy</strong></p>
<p><span style="font-weight: 400;">We ensure to keep your information protected and understand that your personal information that you have shared with us are very important assets. If you object to share your personal information being transferred or used as per the Information Technology Act, 2000, you shall not be using this website.</span></p>
<p>&nbsp;</p>
<p><strong>Mandatory declaration &ndash; Seeds &amp; Nutrients</strong></p>
<p><span style="font-weight: 400;">By providing your personal information, you hereby admit that you are fine for all the purchased products being shipped to your given address. The products will be resold, bartered or sold in any way for profit or anti-national use. With this, you declare that all the products are to be treated with utmost respect and caution with not illegal activity being taken on.</span></p>
<p>&nbsp;</p>
<p><strong>Copyright complaint</strong></p>
<p><span style="font-weight: 400;">If you find your work has been copied constituting copyright infringement, you can write to us at administrator@plant4u.in</span></p>
<p>&nbsp;</p>
<p><strong>Risk of loss</strong></p>
<p><span style="font-weight: 400;">All the items are checked and shipped from our warehouse. We have a separate shipment contract and if any damage persists while receiving the product or risk of loss, the title for such products pass to you by the carrier for delivery of products.</span></p>
<p>&nbsp;</p>
<p><strong>Product Description</strong></p>
<p><span style="font-weight: 400;">We try to post things accurately including the product description. However, we cannot warrant that the product description or other content posted on this website is accurate, reliable, complete, current or perfect. If a product mentioned on the website is not as per the given description, you shall return it back to us in unused condition.</span></p>
<p>&nbsp;</p>
<p><strong>Pricing/Typographical error</strong></p>
<p><span style="font-weight: 400;">There may be typo error on the pricing or description on the website. In this case, Plant4u.in holds the right to rectify changes and update the right price or detail. Also, Plant4u.in holds the right to cancel the order and refund money back to its customer if the product is collected from you within 10-15 business days. The mode of refund will be same as per how you place the order</span></p>
<p>&nbsp;</p>
<p><strong>Hazardous Garden Chemical Disclaimer</strong></p>
<p><span style="font-weight: 400;">Plant4u.in uses a wide range of chemicals for its gardening products such as fertilizers, pesticides, weed killer and insecticide that contain harmful chemicals and shall be disposed of in a correct manner. We strictly put this to your notice that these chemicals should not be used for food, feed, oil or any other personal, experimental purposes which otherwise may introduce hazardous elements in the environment or water supply.</span></p>
<p><span style="font-weight: 400;">Please do not pour these hazardous chemicals in sewage drains or sinks and do not dispose of them normally. Instead please take them to your local recycling center so they can dispose of them in an appropriate manner.</span></p>
<p><span style="font-weight: 400;">Plant4u.in does not take any responsibility if the containers or the chemical contents are put in other uses that could harm individuals or people. You can also take steps to avoid chemical fertilizers and other matters to improvise your garden. Best alternative is to use organic matter that supports the natural ecosystem and does not contain chemicals to disturb nature. You can use waste organic materials such as food waste, dry leaves as mulch and wood to support the Green Earth.</span></p>
<p><span style="font-weight: 400;">Once again, we are not responsible for any accident that may cause health injuries to humans or other living beings due to inappropriate handling, misusing other than using in garden or disposing the containers anywhere that could contaminate the environment or water supply.</span></p>
<p>&nbsp;</p>
        </div>
    </div>
    
    
</div>